.categories__home-button {
  display: flex;
  background: #1890ff;
  color: #fff;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 3px;
  align-items:center;
  justify-content: center;
  width: 75px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.categories__home-button:hover {
  background-color: #40a9ff;
}

.categories__home-button:active {
  background-color: #096dd9;
}

.categories__home-button img {
  margin-right: 5px;
  width: 16px;
}

.categories__home-button span {
  display: inline-block;
  font-size: 16px;
}


